* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

header {
  background-color: white;
  padding: 8px 16px;
}






header img {
  vertical-align: middle;
}

body {
  background-color: #F6F8FA;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: white;
  border-radius: 7px;
  margin: 50px auto;
  max-width: 1000px;
}

.container .two-botton {
  padding: 10px 30px;
}

.container .r-botton {
  padding: 15px 45px;
}

.btn {
  font-size: .9rem;
  border: none;
  padding: .5% 1%;
}


.btn-l {

  background-color: #45ACEE;
  color: white;
  border-radius: 30px;
  padding: 5px 10px;


}

.btn-r {
  background-color: #FFFFFF;
  color: #CFD3D2;
  border-color: gray;
  border-radius: 30px;
  padding: 5px 10px;

}

/* LISTE */
div .liste {
  padding: 15px 31px;
}

li {
  list-style: none;
}

.circle-x::before {
  display: inline-block;
  width: 15px;
  height: 15px;
  content: "x";
  color: red;
  border: solid 1px;
  border-radius: 50%;
  text-align: center;
  line-height: 15px;
  font-size: 11px;
  margin-right: 5px;
}

.circle-v::before {
  display: inline-block;
  width: 15px;
  height: 15px;
  content: "v";
  color: green;
  border: solid 1px;
  border-radius: 50%;
  text-align: center;
  line-height: 15px;
  font-size: 11px;
  margin-right: 5px;
}

ul ul li {
  line-height: 40px;
}

ul ul {
  margin-bottom: 13px;
}

li {
  line-height: 40px;
}




.bdg {
  padding: 5px 8px;
  color: #FFFFFF;
  font-size: .8 rem;
}

.bdg-editorial {
  background-color: #48ADE5;
  border-radius: 30px;
  padding: 5px 10px;
  color: #FFFFFF;
  font-size: 10px;
}

.bdg-q1goals {
  background-color: #9873E9;
  border-radius: 30px;
  padding: 5px 10px;
  color: #FFFFFF;
  font-size: 10px;
}

.bgn-recruiting {
  background-color: #67BFA6;
  border-radius: 30px;
  padding: 5px 10px;
  color: #FFFFFF;
  font-size: 10px;
}

.bdg-mobile {
  background-color: #EEA227;
  border-radius: 30px;
  padding: 5px 10px;
  color: #FFFFFF;
  font-size: 10px;
}

.bdg-web {
  background-color: #DC64A4;
  border-radius: 30px;
  padding: 5px 10px;
  color: #FFFFFF;
  font-size: 10px;
}

.bdg-sales {
  background-color: #B0C923;
  border-radius: 30px;
  padding: 5px 10px;
  color: #FFFFFF;
  font-size: 10px;
}